<div id="theList">
  <h2>Student List</h2>    

  <div>
    <div *ngFor="let item of students; let i = index;" class="row">

      <div class="col-2">
        <input type="text"
          [(ngModel)]="item.firstName"
          class="form-control"
          required
          #firstName="ngModel"
          [ngClass]="{ 'is-invalid': firstName.touched && firstName.invalid }">
      </div>

      <div class="col-2">
        <input type="text"
          [(ngModel)]="item.lastName"
          class="form-control"
          required
          #lastName="ngModel"
          [ngClass]="{ 'is-invalid': lastName.touched && lastName.invalid }">
      </div>

      <div class="col-2">
        <input type="text"
          [(ngModel)]="item.email"
          class="form-control"
          required
          #email="ngModel"
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }">
      </div>

      <div class="col-2">
        <input type="text"
          [(ngModel)]="item.phone"
          class="form-control"
          required
          #phone="ngModel"
          [ngClass]="{ 'is-invalid': phone.touched && phone.invalid }">
      </div>      

      <div class="col-2">
        <img
          [src]="'http://localhost/studentdirectoryangular/studentapi/uploads/' + item.imageName"
          width="75"
          height="75"
          alt="{{item.imageName}}">
      </div>

    </div>
  </div>
</div>
